# Ignore everything in this directory except for the README and .gitignore.

analysis/*
!analysis/analysis.md

segmentations/*
!segmentations/segmentations.md

uservideos/*
!uservideos/uservideos.md

temp/*
!temp/temp.md